body {
  font-family: "SegoeUI";
  font-weight: 300;
  background-color: var(--color-light-gray);
  font-size: var(--text2);
  color: var(--color-black);
}

.button {
  border: 0;
  padding-block: var(--card-button-padding-block);
  padding-inline: var(--card-button-padding-inline);
  font-size: var(--text2);
  border-radius: var(--card-button-border-radius);
  background-color: var(--color-blue);
  color: var(--color-white);
}

.header {
  padding-block: min(var(--margin1), 20px);
  font-size: min(var(--text1), 35px);
  color: var(--color-blue);

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--color-white);
  position: sticky;
  top: 0;
}

.main {
  display: flex;
  flex-direction: column;
  row-gap: var(--margin1);
  justify-content: start;
  align-items: center;
  padding: var(--margin1);
  max-width: 580px;
  margin-inline: auto;
}

.card-item {
  padding: var(--margin1);
  background-color: #fff;
  width: 100%;
  border-radius: var(--card-border-radius);
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-title {
  margin: 0;
  font-size: var(--text1);
  font-weight: 400;
}

.card-logo {
  width: var(--logo-size);
  aspect-ratio: 1;
  border-radius: 50%;
}

.card-body {
  border-top: 1px solid var(--color-light-gray);
  border-bottom: 1px solid var(--color-light-gray);
  margin-block: var(--margin2);
  padding-top: var(--margin1);
}

.card-points {
  margin-bottom: var(--margin1);
}

.text-large {
  font-size: var(--text1);
}

.text-medium {
  font-size: var(--text2);
}

.card-body-cols-2 {
  display: flex;
  column-gap: var(--margin3);
  margin-bottom: var(--margin2);
}

.card-cashback {
  display: flex;
  flex-direction: column;
  row-gap: var(--margin2);
}

.text-small {
  font-size: var(--text3);
}

.card-actions {
  display: flex;
  column-gap: var(--margin3);
  justify-content: end;
  align-items: center;
}

.card-button {
  border: 0;
  padding-block: var(--card-button-padding-block);
  padding-inline: var(--card-button-padding-inline);
  font-size: var(--text2);
  border-radius: var(--card-button-border-radius);
}

.card-icon {
  display: flex;
  width: var(--icon-size);
  margin: 0;
  padding: 0;
  border: 0;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1;
  background-color: transparent;
}

.exclamation-icon {
  width: var(--icon-size);
  aspect-ratio: 1;
  color: var(--color-dark-gray);
  margin-inline: auto;
}
